
#Explorer {
    position: absolute;
    width: 550px;
    left: 50%;
    margin-left: -275px;
    top: 50%;
    margin-top: -275px;

    li img {
        width: 17px;
        height: 17px;
        margin: 0 1em;
    }

    .items_explorer {
        display: flex;
        justify-content: space-between;
        background-color: #333333;
        padding: 4px 14px;
        font-size: .7em;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
.draggable.has-focus {
    z-index: 100;
  }
  
  .draggable {
    z-index: 10;
  }
.container_explorer {
    position: relative;
    background-color: $rgba_gray7;
    box-shadow: 3px 3px 10px $rgba_black3;
    border: 1px solid $border_exp;
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    #Explorer {
        width: 300px;
        left: 50%;
        margin-left: -150px;
        top: 25%;
        margin-top: -150px;
    }
    .container_explorer {
        width: 300px;
    }
}    
